.separator-top{
    background-color: #2c1788;
    padding-top: 17px;
    padding-bottom: 17px;
}
.separator-botton{
    background-color: #2c1788;
    padding-top: 17px;
    padding-bottom: 3px;
}
.footer-style{
    background-color: #272c35;
}