.card{
}
.card-body_background{
    background-color: rgb(141, 139, 139);
    border-color: rgb(141, 139, 139);
}
.card-footer_background{
    background-color: rgb(82, 80, 80);
}
.pading{
    padding-left: 150px;
    padding-right: 150px;
<<<<<<< HEAD
=======
}
.imagen{
    display:block;
    margin:auto;
>>>>>>> 7ef43625ba8508cccca1f615223b996ffc8674e1
}