.card--body{
    background-color: rgb(141, 139, 139);
    border-color: rgb(141, 139, 139);
    font-size: 1.4em;
}
.card--footer{
    text-align: center;
    background-color: rgb(82, 80, 80);
}
.material-icons_size{
    font-size: 3em;
    animation-name: rotation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}