.item-container_padding{
    padding-top: 40px;
    padding-bottom: 40px;
}
.card-body_background{
    background-color: rgb(141, 139, 139);
    border-color: rgb(141, 139, 139);
}
.card-footer_background{
    background-color: rgb(82, 80, 80);
}
.pading{
    padding-left: 150px;
    padding-right: 150px;
}
.material-icons_size{
    font-size: 3em;
    animation-name: rotation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}