.container--items__padding{
    padding-top: 3em;
    padding-bottom: 4em;
    padding-left: 6em;
    padding-right: 6em;
}
@media (max-width: 768px) {
    .container--items__padding{
        padding-top: 1em;
        padding-bottom: 2em;
        padding-left: 3em;
        padding-right: 3em;
    }
}
@media (max-width: 375px) {
    .container--items__padding{
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}