* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    background: rgb(149,126,209);
    background: radial-gradient(circle, rgba(149,126,209,1) 0%, rgba(42,43,78,1) 85%);
}
main{
}
footer{
    color: white;
}
.color2{
    color: white;
}
.cargando-style{
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    padding-top: 230px;
    padding-bottom: 230px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: italic;
}