body{
    background: rgb(149,126,209);
    background: radial-gradient(circle, rgba(149,126,209,1) 0%, rgba(42,43,78,1) 85%);
}
main{
    margin-top: 80px;
}
footer{
    color: white;
}
.color2{
    color: white;
}